@use '../../../../styles//variables' as var;
@import '../../../../styles/breakpoints';

.users__tabBody {
	@include md-breakpoint {
		background: #ffffff;
		border: 1px solid rgba(33, 63, 125, 0.06);
		box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
		border-radius: 4px;
		padding: 30px;
	}

	.mobile-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 600;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
		color: #545f7d;
		text-align: left;
		margin-bottom: 8px;
		background: #ffffff;
		border: 1px solid rgba(33, 63, 125, 0.06);
		box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
		border-radius: 4px;
		padding: 16px;

		@include md-breakpoint {
			display: none;
		}
	}

	table {
		width: 100%;
		border-spacing: 0;
		font-size: 14px;
	}

	thead {
		// .web-header {
		// 	display: none;

		// 	@include md-breakpoint {
		// 		display: table-header-group;
		// 	}
		// }
		display: none;

		@include md-breakpoint {
			display: table-header-group;
			th {
				font-weight: 600;
				font-size: 12px;
				line-height: 14px;
				text-transform: uppercase;
				color: #545f7d;
				text-align: left;
				padding-bottom: 15px;

				&:not(:last-child) {
					padding-right: 16px;
				}

				img {
					display: inline;
					// margin-left: 10px;
				}

				&.date {
					display: none;

					@include lg-breakpoint {
						display: table-cell;
					}
				}
			}
		}
	}

	tbody {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 16px;
		row-gap: 16px;

		@include sm-breakpoint {
			grid-template-columns: repeat(2, 1fr);
		}

		@include md-breakpoint {
			display: table-row-group;
		}

		tr {
			display: flex;
			flex-direction: column;
			position: relative;
			background: #ffffff;
			border: 1px solid rgba(33, 63, 125, 0.06);
			box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
			border-radius: 4px;
			padding: 16px;

			@include md-breakpoint {
				display: table-row;
				border-bottom: 1px solid rgba(33, 63, 125, 0.1);
				box-shadow: none;
				border-radius: 0%;
			}
		}

		td {
			display: block;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: var.$color-primary-alt;
			margin-bottom: 10px;
			word-break: break-all;

			@include md-breakpoint {
				display: table-cell;
				border-bottom: 1px solid rgba(33, 63, 125, 0.1);
				padding-top: 21px;
				padding-bottom: 23px;

				&:not(:last-child) {
					padding-right: 16px;
				}
			}

			&.username {
				order: -1;

				@include md-breakpoint {
					order: initial;
				}
			}

			&.status {
				display: none;

				@include md-breakpoint {
					display: table-cell;
				}
			}

			&.date {
				display: none;

				@include lg-breakpoint {
					display: table-cell;
				}
			}

			.status-span {
				padding: 6px 18px;
				background: rgba(228, 3, 59, 0.1);
				border-radius: 100px;
				word-break: keep-all;

				&.mobile {
					margin-left: 20px;
					@include md-breakpoint {
						display: none;
					}
				}
			}

			&.action {
				position: absolute;
				top: 20px;
				right: 20px;

				@include md-breakpoint {
					position: relative;
					display: table-cell;
					top: unset;
					right: unset;
				}
			}
		}
	}

	// tbody td:first-child {
	// 	border-left: 4px solid transparent;
	// 	transition: all ease 0.3s;
	// }

	// tbody tr:last-child td {
	// 	border-bottom: 0;
	// }

	// tbody tr:hover {
	// 	background-color: #f7f9fc;
	// }

	// tbody tr:hover td:first-child {
	// 	border-left-color: #0f6fde;
	// }

	// td.status {
	// 	text-align: center;
	// }

	// td.status span {
	// 	font-size: 12px;
	// 	border-radius: 3px;
	// 	padding: 4px 8px;
	// }

	// td.status span.approved {
	// 	color: #ffffff;
	// 	background-color: #00c455;
	// }

	// td.status span.decline {
	// 	color: #ffffff;
	// 	background-color: #f13426;
	// }

	// td.status span.pending {
	// 	color: #132d4a;
	// 	background-color: #ebf0f5;
	// }

	// #toggleView:checked ~ table thead {
	// 	display: none;
	// }

	// #toggleView:checked ~ table tbody {
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	padding: 4px;
	// }

	// #toggleView:checked ~ table tbody tr,
	// #toggleView:checked ~ table tbody td {
	// 	display: block;
	// 	border: 0;
	// }

	// #toggleView:checked ~ table tbody td {
	// 	padding: 4px;
	// 	font-weight: bold;
	// }

	// #toggleView:checked ~ table tbody td:before {
	// 	content: attr(data-name);
	// 	width: 100px;
	// 	display: inline-block;
	// 	text-transform: capitalize;
	// 	font-weight: normal;
	// }

	// #toggleView:checked ~ table tbody td.status {
	// 	position: absolute;
	// 	top: 4px;
	// 	right: 4px;
	// }

	// #toggleView:checked ~ table tbody tr {
	// 	position: relative;
	// 	width: calc(50% - 8px);
	// 	border: 1px solid #e7e7e7;
	// 	padding: 8px;
	// 	margin: 4px;
	// }
}
