//fonts
$font-mulish: 'Mulish', sans-serif;
$font-sans: 'Work Sans', sans-serif;

//colors
$color-primary: #213f7d;
$color-secondary: #39cdcc;
$color-primary-alt: #545f7d;
$white: #ffffff;

//box-shadows
$shadow-1: 3px 0px 20px rgba(0, 0, 0, 0.04);
$shadow-2: 0px 5px 20px rgba(0, 0, 0, 0.04);

//
$navbar-height-web: 100px;
$sidenav-width: 283px;
$navbar-height-mobile: 70px;
