//fonts
$font-mulish: 'Mulish', sans-serif;
$font-sans: 'Work Sans', sans-serif;

//colors
$color-primary: #213f7d;
$color-secondary: '';
$white: #ffffff;

//box-shadows
$shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
