@import '../../styles/breakpoints';
.dashboard {
	// border: 1px solid red;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	&__body {
		background-color: #fbfbfb;
		width: 100vw;
		padding: 60px;
		border: 2px solid green;
		min-height: calc(100vh - 100px);

		@include md-breakpoint {
			width: calc(100vw - 282px);
			margin-left: 283px;
		}
	}
}
