@use '../../styles/variables' as var;
@import '../../styles/breakpoints';
.dashboard {
	min-height: 100vh;

	&__body {
		background-color: #fbfbfb;
		width: 100%;
		margin-top: var.$navbar-height-mobile;
		padding: 60px;
		// border: 0.5px solid green;
		min-height: calc(100vh - var.$navbar-height-mobile);

		@include md-breakpoint {
			width: calc(100% - var.$sidenav-width);
			margin-top: var.$navbar-height-web;
			margin-left: var.$sidenav-width;
			min-height: calc(100vh - var.$navbar-height-web);
		}
	}
}
